<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <link rel="stylesheet" href="./index.css">
</head>
<body>
        <!-- navbar -->

        <nav class="navbar navbar-expand-lg bg-light container">
            <div class="container-fluid px-4">
                <img class="pointr img-fluid" width="140" src="./image/logo-mobile.png" alt="">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse text-black fw-medium" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active me-4" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link me-4" href="#">pages</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link me-4" href="#">Shop</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link me-4" href="#">Portfolio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link me-4" href="#">Blog</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ms-" href="#">Elements <iconify-icon class=""
                                    icon="iconamoon:arrow-down-2-light"></iconify-icon></a>
                        </li>

                    </ul>
                    <div class="ms-5 pointr d-none d-md-block">
                        <iconify-icon class="fs-4" icon="mdi-light:heart"></iconify-icon>
                        <iconify-icon class="fs-4 mx-2" icon="uil:shopping-cart-alt"></iconify-icon>
                        <iconify-icon class="fs-4 " icon="material-symbols-light:search"></iconify-icon>
                    </div>
                </div>
            </div>
        </nav>
    <script src="./index.js"></script>
</body>
</html>